fastapi
uvicorn
pillow
python-multipart
python-jose[cryptography]
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-dotenv
sqlalchemy>=2.0
psycopg2-binary
deepface
tf-keras
numpy
scikit-learn
